*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
	/*font-family: 'Montserrat', sans-serif;*/
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	/*font-family: 'Montserrat', sans-serif;*/
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
	/*font-family: 'Montserrat', sans-serif;*/
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
	/*font-family: 'Montserrat', sans-serif;*/
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
	height: inherit;
	max-width: 1290px;
	margin: 0 auto;
	padding: 0 20px;
}

.cover {
	position: fixed;
	z-index: 20;
	height: 100vh;
}

.cover-left {
	width: 38%;
	left: 0;
	background-color: #E43F4D;
	top: 100vh;
	animation: coverLeft 1.7s 1;
}

@keyframes coverLeft {
	0% {
		top: -100vh;
	}
	20% {
		top: -100vh;
	}
	44% {
		top: 0;
	}
	100% {
		top: 120vh;
	}
}

.cover-right {
	z-index: 2;
	width: 100%;
	bottom: calc(100vh - 80px);
	right: 0;
	animation: coverRight 2.3s 1;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.6);
}

@keyframes coverRight {
	0% {
		width: 62%;
		bottom: -100vh;
		background-color: rgba(255,255,255,1);
		box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0);
	}
	20% {
		bottom: -100vh;
	}
	40% {
		bottom: 0;
		width: 62%;
		background-color: rgba(255,255,255,1);
		box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0);
	}
	70% {
		width: 62%;
		bottom: calc(100vh - 80px);
		background-color: rgba(255,255,255,0.8);
		box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(255,255,255,0.8);
		width: 100%;
		box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.6);
	}
}

.header {
	display: flex;
}

.header__sides {
	display: flex;
}

.header__top {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 10;
	display: flex;
	align-items: center;
}

.header__top-in {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: inherit;
	animation: headerTopContent 2.3s 1;
	opacity: 1;
}

@keyframes headerTopContent {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.header__top-logo-wp {
	width: 60px;
	height: inherit;
	display: flex;
	align-items: center;
}

.header__top-logo {
	width: 100%;
}

.header__nav {
	display: flex;
	align-items: center;
}

.header__nav-item + .header__nav-item {
	margin-left: 110px;
}

.header__nav-item a {
	font-weight: 600;
	color: #000;
	font-size: 28px;
	text-shadow: 0px 4px 4px rgba(228, 63, 77, 0.25);
	transition: color .2s ease-out;
}

.header__nav-item a:hover {
	color: #CA3542;
}

.header__left {
	width: 38%;
	padding: 240px 30px 160px 30px;
	background-color: #E43F4D;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__left-title-wp {
	width: 100%;
	max-width: 520px;
	border: 1px solid #000;
	padding: 20px 20px;
	color: white;
	text-align: center;
	margin-bottom: 40px;
}

.header__left-title-in {
	position: relative;
	display: flex;
	align-items: center;
}

.header-title {
	margin: 0 auto;
}

.logo-img {
	width: 90px;
	margin: 0 50px;
}

.title-img {
	width: 230px;
}

.header__left-title-in::before, .header__left-title-in::after {
	content: '';
	display: block;
	background-color: #E43F4D;
	position: absolute;
	width: 100%;
	top: -26px;
	height: 10px;
}

.header__left-title-in::after {
	bottom: -26px;
	top: auto;
}

.header__title {
	font-size: 50px;
	margin-bottom: 10px;
}

.header__subtitle {
	font-size: 25px;
}

.header__left-form-wp {
	max-width: 520px;
	width: 100%;
	background-color: #1E2123;
	border: 2px solid #fff;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
}

.header__form-text {
	max-width: 310px;
	font-size: 18px;
	text-shadow: 0px 4px 3px rgba(255, 255, 255, 0.4);
}

.post-prod__left-block {
	margin-bottom: 50px;
}

.header__text {
	font-size: 22px;
	line-height: 33px;
	text-align: left;
	margin: 0 30px;
}

.header__form-item-wp {
	max-width: 290px;
	width: 100%;
	height: 45px;
	background-color: #E9E7E7;
	margin-top: 30px;
	display: flex;
	align-items: center;
	border-radius: 5px;
}

.header__form-item-icon {
	margin: 0 10px;
}

.header__form-item-input {
	padding-right: 10px;
	width: 100%;
	background: none;
	border: none;
	height: inherit;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 600;
}

.header__form-button {
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	width: 220px;
	height: 50px;
	border-radius: 100px;
	background: linear-gradient(180deg, #F17F55 21.88%, #FF435A 93.23%);
	box-shadow: 4px 4px 20px rgba(255, 175, 172, 0.5);
	border: none;
}

.header__right {
	overflow: hidden;
	position: relative;
	width: 62%;
	background: url('../images/bgs/index-header.jpg') no-repeat;
	background-position: top 80% right -300px;
	background-size: cover;
}

.header-right__circle {
	position: absolute;
	bottom: 0;
	right: -752px;
	width: 1526px;
	height: 752px;
	border-radius: 1000px 1000px 0 0;
	background-color: #E43F4D;
}

.clients__in {
	padding: 130px 0;
}

.section__title-wp {
	margin-bottom: 70px;
}

.section__title {
	font-weight: 600;
	font-size: 40px;
	text-align: center;
}

.section__title_white {
	color: #fff;
}

.section__title_right {
	text-align: right;
	margin-right: 50px;
}

.about-us {
	background: url("../images/bgs/about-us.jpg") no-repeat;
	background-position: right;
	background-size: cover;
}

.about-us__container {
	max-width: 1710px;
}

.about-us__in {
	padding: 130px 0 180px 0;
	max-width: 750px;
	width: 100%;
	margin-right: auto;
}

.about-us__title-wp {
	margin-bottom: 35px;
}

.about-us__content {
	background-color: #fff;
	padding: 40px;
	font-size: 25px;
	line-height: 37px;
}

.about-us__text + .about-us__text {
	margin-top: 30px;
}

.clients {
	background-color: #FFF8F3;
}

.clients__items-wp {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	grid-auto-rows: 190px;
}

@media screen and (max-width: 1300px) {
	.clients__items-wp {
		width: 615px;
		margin: 0 auto;
		grid-template-columns: repeat(2, 1fr);
	}
}

.clients__item-wp {
	width: 295px;
	height: 190px;
	box-shadow: 4px 4px 20px rgba(228, 63, 77, .8);
}

.clients__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.workers {
	background: linear-gradient(180deg, #E43F4D 29.69%, #A42731 79.17%);
}

.workers__overlay {
	background: url('../images/bgs/index-workers.png') center no-repeat;
	background-size: cover;
}

.workers__in {
	padding: 80px 0;
}

.workers__items-wp {
	display: flex;
	justify-content: center;
}

.workers__item-wp {
	position: relative;
	margin-right: 100px;
}

.workers__item-wp:last-child{
	margin-right: 0;
}

.workers__item {
	width: 320px;
	height: 620px;
	overflow: hidden;
	position: relative;
	background-color: #1F2326;
	border: 1px solid #000;
}

.polygon {
	clip-path: polygon(
			0% 15px, 
	      	15px 0%, 
	      	100% 0%, 
	      	100% 0%,
	      	100% 100%,  
	      	100% 100%,  
	      	0% 100%,  
	      	0% 100% 
		);
}

.workers__item_white {
	background-color: #fff;
}

.workers__img1 {
	height: 604px;
	margin-top: 22px;
	margin-left: -35px;
}

.workers__img2 {
	height: 644px;
	margin-top: -22px;
	margin-left: -75px;
}

.workers__img3 {
	height: 590px;
	margin-left: -19px;
}

.workers__position-wp {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: -25px;
	right: -40px;
	width: 290px;
	height: 75px;
	background-color: #1F2326;
	border: 2px solid #fff;
}

.workers__position-wp_white {
	background-color: #fff;
	border-color: #000;
}

.workers__position {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
}

.workers__position-wp_white .workers__position {
	color: #000;
}

.workers__about-wp {
	transform: rotate(90deg);
	position: absolute;
}

.workers__about-wp1 {
	left: -168px;
	top: 174px;
}

.workers__about-wp2 {
	left: -123px;
	top: 130px;
}

.workers__about-wp3 {
	left: -139px;
	top: 150px;
}

.workers__exp {
	color: #E43F4D;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	letter-spacing: 2px;
}

.workers__name {
	text-transform: uppercase;
	color: transparent;
	font-size: 60px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #fff;
	letter-spacing: .1em;
}

.workers__about-wp2 .workers__name {
	-webkit-text-stroke-color: #000;
}

.works {
	background: url('../images/bgs/index-works.jpeg') center no-repeat;
	background-size: cover;
}

.works__overlay {
	background-color: rgba(255, 255, 255, .2);
}

.works__in {
	padding: 75px 0 160px 0;
}

.works__items-wp {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.works__item {
	width: 400px;
	height: 200px;
	overflow: hidden;
	position: relative;
	border: 1px solid #000;
}

.works__item-img {
	width: 100%;
	object-fit: cover;
}

.works__item:nth-child(2) .works__item-img {
	position: absolute;
	bottom: -45px;
	right: 0;
	width: 120%;
}

.works__item:nth-child(6) .works__item-img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 110%;
}

.works__item-title-wp {
	position: absolute;
	bottom: 0;
	right: 70px;
	background-color: #FF4656;
	width: 160px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.works__item-title_small {
	font-size: 15px;
}

.pros {
	background-color: #1E2123;
}

.pros__in {
	padding: 70px 0;
}

.pros__item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.pros__item_reversed {
	flex-direction: row-reverse;
}

.pros__num {
	font-size: 80px;
	font-weight: 600;
	color: #fff;
}

.pros__arrow-wp {
	margin: 0 75px;
}

.pros__item_reversed .pros__arrow-wp {
	transform: rotate(180deg);
}

.pros__content {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.pros__content-icon {
	margin-bottom: 5px;
}

.pros__text {
	font-size: 35px;
	color: #fff;
}

.footer {
	padding-top: 60px;
	box-shadow: inset 0px 15px 40px rgba(0, 0, 0, 0.4);
}

.footer__top {
	margin-bottom: 200px;
}

.footer__content {
	display: flex;
	justify-content: space-between;
}

.footer__navs {
	display: flex;
}

.footer__nav-wp {
	margin-left: 100px;
}

.footer__nav-wp:last-child {
	margin-right: 100px;
}

.footer__nav-title {
	font-size: 30px;
	color: #E43F4D;
	font-weight: 400;
	margin-bottom: 25px;
}

.footer__nav-item {
	margin: 15px 0;
	font-size: 20px;
}

.footer__nav-item a {
	color: #000;
	transition: color .1s ease-out;
}

.footer__nav-item a:hover {
	color: #E43F4D;
}

.footer__contacts-wp {
	width: 100%;
	max-width: 285px;
}

.footer__contacts-item + .footer__contacts-item {
	margin-top: 30px;
}

.footer__contacts-item {
	display: flex;
	align-items: flex-start;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
}

.footer__contacts-item img {
	margin-right: 18px;
}

.footer__contacts-item a {
	color: #000;
	transition: color .15s ease-out;
}

.footer__contacts-item a:hover {
	color: #E43F4D;
}

.footer__bottom {
	display: flex;
	justify-content: center;
	position: relative;
	border-top: 1px solid #000;
}

.footer__socials {
	position: absolute;
	top: -34px;
	padding: 0 65px;
	display: flex;
	background-color: #fff;
}

.footer__social {
	border: 2px solid #000;
	border-radius: 5px;
	width: 70px;
	height: 70px;
	transition: transform .3s ease-out, border-color .3s ease-out;
}

.footer__social + .footer__social {
	margin-left: 20px;
}

.footer__social:hover {
	border-color: #E43F4D;
	transform: translateY(-2px);
}

.footer__social a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__copyright {
	text-align: center;
	margin: 67px 0 33px 0;
}

.post-prod__montage {
	background: url('../images/bgs/post-prod-montage.jpg') no-repeat center;
	background-size: cover;
}

.post-prod__colors {
	background: url('../images/bgs/post-prod-colors.jpg') no-repeat center;
	background-size: cover;
}

.post-prod__visuals {
	background: url('../images/bgs/post-prod-visuals.jpg') no-repeat center;
	background-size: cover;
}

.post-prod__sounds {
	background: url('../images/bgs/post-prod-sounds.jpg') no-repeat center;
	background-size: cover;
}

.post-prod__content {
	display: flex;
	padding: 30px 60px;
	background: rgba(248, 248, 248, 0.9);
	border: 2px solid #000;
	max-width: 860px;
	width: 100%;
	margin-left: 300px;
}

.post-prod__section-left {
	max-width: 343px;
	width: 100%;
	margin-right: 60px;
}

.post-prod__section-title {
	color: #656565;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 32px;
}

.post-prod__section-subtitle {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 25px;
}

.post-prod__section-text{
	font-size: 16px;
	letter-spacing: 0.1em;
	line-height: 19px;
	list-style-type: disc;
	list-style-position: inside;
}

#fp-nav.fp-right {
	right: 30px !important;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #F8F8F8 !important;
	border: 2px solid #000 !important;
	border-radius: 0 !important;
	transform: rotate(45deg) !important;
	/* width: 14px !important;
	height: 14px !important; */
}

.catalog__in {
	padding: 100px 0 250px 0;
}

.catalog__nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.catalog__nav-item {
	text-align: center;
	display: block;
	padding: 30px;
	border-bottom: 1px solid #1F2326;
	color: #000;
}

.catalog__nav-item_active {
	border-color: #FF3142;
}

.catalog__items {
	max-width: 980px;
	width: 100%;
	display: none;
	margin: 120px auto 0 auto;
	grid-template-columns: repeat(2, 1fr);
	gap: 120px;
}

.catalog__items_active {
	display: grid;
}

.catalog__item {
	position: relative;
}

.catalog__item-link {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.catalog__item-link:hover + .catalog__item-poster + .catalog__item-title {
	color: #E43F4D;
}

.catalog__item-poster {
	margin-bottom: 30px;
}

.catalog__item-rating {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 30px;
	font-weight: 600;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #E43F4D;
	color: #fff;
}

.catalog__item-title {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 20px;
	transition: color .15s ease-out;
}

.catalog__item-info {
	font-size: 20px;
	line-height: 30px;
}

.single-project__left {
	position: relative;
	padding: 170px 30px 100px 30px;
}

.single-project__right {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-size: cover;
	background-position: center;
}

.single-project__poster {
	width: 342px;
	margin-bottom: 45px;
	border-radius: 5px;
}

.single-project__poster img {
	width: 100%;
	display: block;
}

.single-project__show-desc {
	width: 90px;
	height: 90px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 480px;
	right: -45px;
	z-index: 1;
	background-color: #BFC5E6;
	cursor: pointer;
}

.show-arrow {
	transition: transform .6s ease;
}

.flip {
	transform: rotate(-180deg);
}

.single-project__desc {
	display: none;
	height: 100%;
	padding: 160px 110px 80px 110px;
	background-color: #fff;
}

.single-project__title-wp {
	margin-bottom: 35px;
}
.single-project__title-wp .section__title {
	text-align: left;
}

.single-project__text {
	font-size: 18px;
	line-height: 27px;
	font-weight: 500;
	margin-bottom: 25px;
}