*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
	/*font-family: 'Montserrat', sans-serif;*/
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
	/*font-family: 'Montserrat', sans-serif;*/
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
	/*font-family: 'Montserrat', sans-serif;*/
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	height: inherit;
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: content-box;
}

.cover {
	position: fixed;
	z-index: 20;
	height: 100vh;
}

.cover-left {
	width: 38%;
	left: 0;
	background-color: #E43F4D;
	top: 100vh;
	animation: coverLeft 1.7s 1;
}

@keyframes coverLeft {
	0% {
		top: -100vh;
	}
	20% {
		top: -100vh;
	}
	44% {
		top: 0;
	}
	100% {
		top: 120vh;
	}
}

.cover-right {
	width: 100%;
	bottom: calc(100vh - 80px);
	right: 0;
	animation: coverRight 2.3s 1;
	background-color: rgba(255,255,255,0.8);
}

@keyframes coverRight {
	0% {
		width: 62%;
		bottom: -100vh;
		background-color: rgba(228, 213, 239);
		box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0);
	}
	20% {
		bottom: -100vh;
	}
	40% {
		bottom: 0;
		width: 62%;
		background-color: rgba(228, 213, 239);
		box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0);
	}
	70% {
		width: 62%;
		bottom: calc(100vh - 80px);
		background-color: rgba(228, 213, 239);
		box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(255,255,255,0.8);
		width: 100%;
		box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.6);
	}
}

.header {
	display: flex;
}

.header__top {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 10;
	display: flex;
	align-items: center;
}

.header__top-in {
	height: inherit;
}

.header__top-logo-wp {
	width: 130px;
	height: inherit;
	display: flex;
	align-items: center;
}

.header__top-logo {
	width: 100%;
}

.header__left {
	width: 38%;
	padding: 240px 0 160px 0;
	background-color: #E43F4D;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__left-title-wp {
	border: 1px solid #000;
	padding: 20px 20px;
	color: white;
	text-align: center;
	margin-bottom: 40px;
}

.header__left-title-in {
	position: relative;
}

.header__left-title-in::before, .header__left-title-in::after {
	content: '';
	display: block;
	background-color: #E43F4D;
	position: absolute;
	width: 100%;
	top: -26px;
	height: 10px;
}

.header__left-title-in::after {
	bottom: -26px;
	top: auto;
}

.header__title {
	font-size: 36px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.header__subtitle {
	font-size: 25px;
}

.header__left-form-wp {
	width: 520px;
	background-color: #1E2123;
	border: 2px solid #fff;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px 0;
}

.header__form-text {
	max-width: 310px;
	font-size: 18px;
	text-shadow: 0px 4px 3px rgba(255, 255, 255, 0.4);
}

.header__form-item-wp {
	width: 290px;
	height: 45px;
	background-color: #E9E7E7;
	margin-top: 30px;
	display: flex;
	align-items: center;
	border-radius: 5px;
}

.header__form-item-icon {
	margin: 0 10px;
}

.header__form-item-input {
	padding-right: 10px;
	width: 100%;
	background: none;
	border: none;
	height: inherit;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 600;
}

.header__form-button {
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	width: 220px;
	height: 50px;
	border-radius: 100px;
	background: linear-gradient(180deg, #F17F55 21.88%, #FF435A 93.23%);
	box-shadow: 4px 4px 20px rgba(255, 175, 172, 0.5);
	border: none;
}

.header__right {
	position: relative;
	width: 62%;
	background: url('../images/bgs/index-header.jpg') no-repeat;
	background-position: top 80% right -300px;
	background-size: cover;
}

.header__right-title-wp {
	text-align: center;
	color: #fff;
	position: absolute;
	max-width: 500px;
	top: 300px;
	left: 85px;
}

.header__right-title {
	background: -webkit-linear-gradient(0, #FFFFFF, #EC3343);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/*text-shadow: 0px 4px 5px #000000;*/
	font-weight: 700;
	font-size: 60px;
	margin-bottom: 20px;
}

.header__right-text {
	color: #fff;
	font-weight: 600;
	font-size: 45px;
	text-shadow: 0px 4px 5px #EC3343;
	line-height: 67px;
}

.clients__in {
	padding: 130px 0;
}

.section__title-wp {
	margin-bottom: 70px;
}

.section__title {
	font-weight: 600;
	font-size: 40px;
	text-align: center;
}

.section__title_right {
	text-align: right;
	margin-right: 50px;
}

.clients {
	background-color: #FFF8F3;
}

.clients__items-wp {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	grid-auto-rows: 190px;
}

@media screen and (max-width: 1300px) {
	.clients__items-wp {
		width: 615px;
		margin: 0 auto;
		grid-template-columns: repeat(2, 1fr);
	}
}

.clients__item-wp {
	width: 295px;
	height: 190px;
	box-shadow: 4px 4px 20px rgba(228, 63, 77, .8);
}

.clients__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.workers {
	background: linear-gradient(180deg, #E43F4D 29.69%, #A42731 79.17%);
}

.workers__overlay {
	background: url('../images/bgs/index-workers.png') center no-repeat;
	background-size: cover;
}

.workers__in {
	padding: 80px 0;
}

.workers__items-wp {
	display: flex;
	justify-content: center;
}

.workers__item-wp {
	position: relative;
	margin-right: 100px;
}

.workers__item-wp:last-child{
	margin-right: 0;
}

.workers__item {
	width: 320px;
	height: 620px;
	overflow: hidden;
	position: relative;
	background-color: #1F2326;
	border: 1px solid #000;
}

.polygon {
	clip-path: polygon(
			0% 15px, 
	      	15px 0%, 
	      	100% 0%, 
	      	100% 0%,
	      	100% 100%,  
	      	100% 100%,  
	      	0% 100%,  
	      	0% 100% 
		);
}

.workers__item_white {
	background-color: #fff;
}

.workers__img1 {
	height: 604px;
	margin-top: 22px;
	margin-left: -35px;
}

.workers__img2 {
	height: 644px;
	margin-top: -22px;
	margin-left: -75px;
}

.workers__img3 {
	height: 590px;
	margin-left: -19px;
}

.workers__position-wp {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: -25px;
	right: -40px;
	width: 290px;
	height: 75px;
	background-color: #1F2326;
	border: 2px solid #fff;
}

.workers__position-wp_white {
	background-color: #fff;
	border-color: #000;
}

.workers__position {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
}

.workers__position-wp_white .workers__position {
	color: #000;
}

.workers__about-wp {
	transform: rotate(90deg);
	position: absolute;
}

.workers__about-wp1 {
	left: -168px;
	top: 174px;
}

.workers__about-wp2 {
	left: -123px;
	top: 130px;
}

.workers__about-wp3 {
	left: -139px;
	top: 150px;
}

.workers__exp {
	color: #E43F4D;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	letter-spacing: 2px;
}

.workers__name {
	text-transform: uppercase;
	color: transparent;
	font-size: 60px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #fff;
	letter-spacing: .1em;
}

.workers__about-wp2 .workers__name {
	-webkit-text-stroke-color: #000;
}

.works {
	background: url('../images/bgs/index-works.jpeg') center no-repeat;
	background-size: cover;
}

.works__overlay {
	background-color: rgba(255, 255, 255, .2);
}

.works__in {
	padding: 75px 0 160px 0;
}

.works__items-wp {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.works__item {
	width: 400px;
	height: 200px;
	overflow: hidden;
	position: relative;
	border: 1px solid #000;
}

.works__item-img {
	width: 100%;
	object-fit: cover;
}

.works__item:nth-child(2) .works__item-img {
	position: absolute;
	bottom: -45px;
	right: 0;
	width: 120%;
}

.works__item:nth-child(6) .works__item-img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 110%;
}

.works__item-title-wp {
	position: absolute;
	bottom: 0;
	right: 70px;
	background-color: #FF4656;
	width: 160px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.works__item-title_small {
	font-size: 15px;
}

.pros {
	background-color: #FFF8F3;
}

.pros__in {
	padding: 70px 0;
}

.pros__item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.pros__item_reversed {
	flex-direction: row-reverse;
}

.pros__num {
	font-size: 80px;
	font-weight: 600;
}

.pros__arrow-wp {
	margin: 0 75px;
}

.pros__item_reversed .pros__arrow-wp {
	transform: rotate(180deg);
}

.pros__content {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.pros__content-icon {
	margin-bottom: 5px;
}

.pros__text {
	font-size: 35px;
}